---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .Release.Name }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ .Release.Name }}
    spec:
      serviceAccountName: {{ .Release.Name }}
      initContainers:
      - name: git-cloner
        image: {{ .Values.git_cloner.image }}
        env:
        - name: GIT_REPO_URL
          value: {{ .Values.content.repoUrl | quote }}
        - name: GIT_REPO_REF
          value: {{ .Values.content.repoRef | quote }}
        - name: CLONE_DIR
          value: "/showroom/repo"
        volumeMounts:
        - mountPath: /showroom/repo
          name: {{ .Release.Name }}-files
          subPath: repo
        resources:
          {{- toYaml .Values.git_cloner.resources | nindent 10 }}
      - name: antora-builder
        image: {{ .Values.antora.image }}
        env:
        - name: FILES_DIR
          value: "/showroom/repo"
        - name: OUTPUT_DIR
          value: "/showroom/www"
        - name: ANTORA_PLAYBOOK
          value: {{ .Values.content.antoraPlaybook | quote }}
        - name: ZT_BUNDLE
          value: {{ .Values.content.zero_touch_bundle | quote }}
        - name: ZT_UI_ENABLED
          value: "{{ .Values.content.zero_touch_ui_enabled }}"

        volumeMounts:
        - mountPath: /showroom/repo
          name: {{ .Release.Name }}-files
          subPath: repo
        - name: user-data
          mountPath: /user_data/
        - mountPath: /showroom/www
          name: {{ .Release.Name }}-files
          subPath: www
        resources:
          {{- toYaml .Values.antora.resources | nindent 10 }}
{{- if eq .Values.setup_automation.setup "true" }}
      - resources:
          {{- toYaml .Values.setup_automation.resources | nindent 10 }}
        terminationMessagePath: /dev/termination-log
        name: setup
        env:
          - name: GIT_REPO_URL
            value: {{ .Values.content.repoUrl | quote }}
          - name: GIT_REPO_REF
            value: {{ .Values.content.repoRef | quote }}
          - name: BASTION_HOST
            value: {{ .Values.wetty.ssh.sshHost | quote }}
          - name: BASTION_PORT
            value: "{{ .Values.wetty.ssh.sshPort }}"
          - name: BASTION_USER
            value: {{ .Values.wetty.ssh.sshUser | quote }}
          - name: BASTION_PASSWORD
            value: {{ .Values.wetty.ssh.sshPass | quote }}
          - name: GUID
            value: "{{ .Values.guid }}"
          - name: DOMAIN
            value: {{ .Values.deployer.domain | quote }}
          - name: SATELLITE_URL
            value: {{ .Values.satellite.url | quote }}
          - name: SATELLITE_ORG
            value: {{ .Values.satellite.org | quote }}
          - name: SATELLITE_ACTIVATIONKEY
            value: {{ .Values.satellite.activationkey | quote }}
          - name: REGISTRY_PULL_TOKEN
            value: {{ .Values.deployer.registry_pull_token | quote }}
          - name: VAULT_PASSWORD
            value: {{ .Values.setup_automation.vault_password | quote }}
{{- if eq .Values.cloud.setup "true" }}
          - name: CLOUD_PROVIDER
            value: {{ .Values.cloud.auth_cloud_provider | quote }}
          - name: AWS_ACCESS_KEY_ID
            value: {{ .Values.cloud.aws_access_key_id | quote }}
          - name: AWS_SECRET_ACCESS_KEY
            value: {{ .Values.cloud.aws_secret_access_key | quote }}
          - name: AWS_WEB_CONSOLE_URL
            value: {{ .Values.cloud.aws_web_console_url | quote }}
          - name: AWS_WEB_CONSOLE_USER_NAME
            value: {{ .Values.cloud.aws_web_console_user_name | quote }}
          - name: AWS_WEB_CONSOLE_PASSWORD
            value: {{ .Values.cloud.aws_web_console_password | quote }}
          - name: AWS_SANDBOX_ACCOUNT_ID
            value: "{{ .Values.cloud.aws_sandbox_account_id }}"
          - name: AWS_ROUTE53_DOMAIN
            value: {{ .Values.cloud.aws_route53_domain | quote }}
          - name: AWS_DEFAULT_REGION
            value: {{ .Values.cloud.aws_default_region | quote }}
          - name: AZURE_SUBSCRIPTION
            value: {{ .Values.cloud.azure_subscription | quote }}
          - name: AZURE_TENANT
            value: {{ .Values.cloud.azure_tenant | quote }}
          - name: AZURE_CLIENT_ID
            value: {{ .Values.cloud.azure_client_id | quote }}
          - name: AZURE_PASSWORD
            value: {{ .Values.cloud.azure_password | quote }}
          - name: AZURE_RESOURCEGROUP
            value: {{ .Values.cloud.azure_resourcegroup | quote }}
{{- end }}

        imagePullPolicy: IfNotPresent
        volumeMounts:
          - name: runner
            mountPath: /runner/
        terminationMessagePolicy: File
        image: {{ .Values.setup_automation.image }}
{{- end }}
      containers:
{{- if eq .Values.runtime_automation.setup "true" }}
      - resources:
          {{- toYaml .Values.runtime_automation.resources | nindent 10 }}
        terminationMessagePath: /dev/termination-log
        name: runner
        env:
          - name: DEBUG
            value: "true"
          - name: PORT
            value: "8501"
          - name: ANSIBLE_USER
            value: {{ .Values.wetty.ssh.sshUser | quote }}
          - name: ANSIBLE_PASSWORD
            value: {{ .Values.wetty.ssh.sshPass | quote }}
          - name: BASTION_PORT
            value: "{{ .Values.wetty.ssh.sshPort }}"
          - name: GUID
            value: "{{ .Values.guid }}"
          - name: DOMAIN
            value: {{ .Values.deployer.domain | quote }}
          - name: REGISTRY_PULL_TOKEN
            value: {{ .Values.deployer.registry_pull_token | quote }}
          - name: SATELLITE_URL
            value: {{ .Values.satellite.url | quote }}
          - name: SATELLITE_ORG
            value: {{ .Values.satellite.org | quote }}
          - name: SATELLITE_ACTIVATIONKEY
            value: {{ .Values.satellite.activationkey | quote }}
          - name: VAULT_PASSWORD
            value: {{ .Values.setup_automation.vault_password | quote }}
{{- if eq .Values.cloud.setup "true" }}
          - name: CLOUD_PROVIDER
            value: {{ .Values.cloud.auth_cloud_provider | quote }}
          - name: AWS_ACCESS_KEY_ID
            value: {{ .Values.cloud.aws_access_key_id | quote }}
          - name: AWS_SECRET_ACCESS_KEY
            value: {{ .Values.cloud.aws_secret_access_key | quote }}
          - name: AWS_WEB_CONSOLE_URL
            value: {{ .Values.cloud.aws_web_console_url | quote }}
          - name: AWS_WEB_CONSOLE_USER_NAME
            value: {{ .Values.cloud.aws_web_console_user_name | quote }}
          - name: AWS_WEB_CONSOLE_PASSWORD
            value: {{ .Values.cloud.aws_web_console_password | quote }}
          - name: AWS_SANDBOX_ACCOUNT_ID
            value: "{{ .Values.cloud.aws_sandbox_account_id }}"
          - name: AWS_ROUTE53_DOMAIN
            value: {{ .Values.cloud.aws_route53_domain | quote }}
          - name: AWS_DEFAULT_REGION
            value: {{ .Values.cloud.aws_default_region | quote }}
          - name: AZURE_SUBSCRIPTION
            value: {{ .Values.cloud.azure_subscription | quote }}
          - name: AZURE_TENANT
            value: {{ .Values.cloud.azure_tenant | quote }}
          - name: AZURE_CLIENT_ID
            value: {{ .Values.cloud.azure_client_id | quote }}
          - name: AZURE_PASSWORD
            value: {{ .Values.cloud.azure_password | quote }}
          - name: AZURE_RESOURCEGROUP
            value: {{ .Values.cloud.azure_resourcegroup | quote }}
{{- end }}

        ports:
          - name: runner
            containerPort: 8501
            protocol: TCP
        imagePullPolicy: IfNotPresent
        volumeMounts:
          - mountPath: /app/runtime-automation
            name: {{ .Release.Name }}-files
            subPath: repo/runtime-automation
          - mountPath: /app/artifacts
            name: {{ .Release.Name }}-files
            subPath: artifacts
          - mountPath: /app/logs
            name: {{ .Release.Name }}-files
            subPath: logs
        terminationMessagePolicy: File
        image: {{ .Values.runtime_automation.image }}
{{- end }}
      - name: nginx
        image: {{ .Values.proxy.image }}
        imagePullPolicy: IfNotPresent
        volumeMounts:
        - mountPath: /etc/nginx/nginx.conf
          name: nginx-config
          subPath: nginx.conf
        - mountPath: /data/www
          name: content
        - mountPath: /var/cache/nginx
          name: nginx-cache
        - mountPath: /var/run
          name: nginx-pid
        env:
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: GUID
          value: "{{ .Values.guid }}"
        - name: DOMAIN
          value: {{ .Values.deployer.domain | quote }}
        ports:
        - name: web
          containerPort: 8080
        resources:
          {{- toYaml .Values.proxy.resources | nindent 10 }}

      - name: content
        image: {{ .Values.content.image }}
        imagePullPolicy: IfNotPresent
        env:
        - name: ANTORA_PLAYBOOK
          value: {{ .Values.content.antoraPlaybook | quote }}
        - name: ZT_BUNDLE
          value: {{ .Values.content.zero_touch_bundle | quote }}
        - name: ZT_UI_ENABLED
          value: "{{ .Values.content.zero_touch_ui_enabled }}"
        - name: GUID
          value: "{{ .Values.guid }}"
        - name: DOMAIN
          value: {{ .Values.deployer.domain | quote }}
        volumeMounts:
        - name: user-data
          mountPath: /user_data/
        - mountPath: /showroom/repo
          name: {{ .Release.Name }}-files
          subPath: repo
        - mountPath: /showroom/www
          name: {{ .Release.Name }}-files
          subPath: www
        ports:
        - containerPort: 8000
          protocol: TCP
        livenessProbe:
          httpGet:
            path: /
            port: 8000
        readinessProbe:
          httpGet:
            path: /
            port: 8000
        resources:
          {{- toYaml .Values.content.resources | nindent 10 }}

{{- if eq .Values.terminal.setup "true" }}
      - name: terminal
        image: {{ .Values.terminal.image }}
        imagePullPolicy: IfNotPresent
        env:
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: GUID
          value: "{{ .Values.guid }}"
        volumeMounts:
        - name: terminal-lab-user-home
          mountPath: /home/lab-user
        ports:
        - containerPort: {{ .Values.terminal.port }}
          protocol: TCP
        resources:
          {{- toYaml .Values.terminal.resources | nindent 10 }}
{{- end }}
{{- range $hostIndex, $host := .Values.terminal.terminals | default (list) }}
{{- range $i, $terminal := $host.terminals | default (list) }}
      - name: terminal-{{ $terminal.name }}
        image: {{ $.Values.terminal.image }}
        imagePullPolicy: IfNotPresent
        env:
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: GUID
          value: "{{ $.Values.guid }}"
        - name: RUNCOMMAND
          value: "{{ $terminal.command }}"
        - name: PORT
          value: "{{ add $.Values.terminal.port 1 $i }}"
        volumeMounts:
        - name: terminal-lab-user-home
          mountPath: /home/lab-user
        ports:
        - containerPort: {{ add $.Values.terminal.port 1 $i }}
          protocol: TCP
        resources:
          {{- toYaml $.Values.terminal.resources | nindent 10 }}
{{- end }}
{{- end }}

{{- if eq .Values.ocpconsole.setup "true" }}
      - name: console-app
        image: "quay.io/openshift/origin-console:4.14"
        env:
          - name: BRIDGE_BRANDING
            value: openshift
          - name: BRIDGE_USER_AUTH
            value: disabled
          - name: BRIDGE_K8S_MODE
            value: off-cluster
          - name: BRIDGE_K8S_MODE_OFF_CLUSTER_ENDPOINT
            value: https://kubernetes.default
          - name: BRIDGE_K8S_MODE_OFF_CLUSTER_SKIP_VERIFY_TLS
            value: "true"
          - name: BRIDGE_K8S_AUTH
            value: bearer-token
          - name: BRIDGE_BASE_PATH
            value: "/console/"
          - name: BRIDGE_K8S_AUTH_BEARER_TOKEN
            valueFrom:
              secretKeyRef:
                name: console-secret
                key: token
        ports:
        - containerPort: 9000
          protocol: TCP
        livenessProbe:
          httpGet:
            path: /console/
            port: 9000
        readinessProbe:
          httpGet:
            path: /console/
            port: 9000
{{- end }}

{{- if eq .Values.wetty.setup "true" }}
      - name: wetty
        image: {{ .Values.wetty.image }}
        imagePullPolicy: IfNotPresent
        args:
        - --base="/{{ .Values.wetty.base }}/"
        - --port={{ .Values.wetty.port }}
{{-   if eq .Values.wetty.ssh.autoSshToBastion "true" }}
        - --ssh-host={{ .Values.wetty.ssh.sshHost }}
        - --ssh-port={{ .Values.wetty.ssh.sshPort }}
        - --ssh-user={{ .Values.wetty.ssh.sshUser }}
        - --ssh-auth={{ .Values.wetty.ssh.sshAuth }}
        - --ssh-pass={{ .Values.wetty.ssh.sshPass }}
{{-   end }}
        env:
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: GUID
          value: "{{ .Values.guid }}"
        ports:
        - containerPort: {{ .Values.wetty.port }}
          protocol: TCP
        resources:
          {{- toYaml .Values.wetty.resources | nindent 10 }}
{{- range $i, $host := .Values.wetty.ssh.sshOtherHosts }}
      - name: wetty-{{ $host }}
        image: {{ $.Values.wetty.image }}
        imagePullPolicy: IfNotPresent
        args:
        - --base="/{{ $.Values.wetty.base }}/"
        - --port={{ add $.Values.wetty.port 1 $i }}
{{-   if eq $.Values.wetty.ssh.autoSshToBastion "true" }}
        - --ssh-host={{ $host }}
        - --ssh-port={{ $.Values.wetty.ssh.sshPort }}
        - --ssh-user={{ $.Values.wetty.ssh.sshUser }}
        - --ssh-auth={{ $.Values.wetty.ssh.sshAuth }}
        - --ssh-pass={{ $.Values.wetty.ssh.sshPass }}
{{-   end }}
        env:
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: GUID
          value: "{{ $.Values.guid }}"
        ports:
        - containerPort: {{ add $.Values.wetty.port 1 $i }}
          protocol: TCP
        resources:
          {{- toYaml $.Values.wetty.resources | nindent 10 }}
{{- end }}


{{- end }}

{{- if eq .Values.novnc.setup "true" }}
      - name: novnc
        image: {{ .Values.novnc.image }}
        imagePullPolicy: IfNotPresent
        args:
        - websockify
        - --web=/www
        - 127.0.0.1:{{ .Values.novnc.port }}
        - "{{ .Values.novnc.vncServer }}"
        ports:
        - containerPort: {{ .Values.novnc.port }}
          protocol: TCP
        resources:
          {{- toYaml .Values.novnc.resources | nindent 10 }}
{{- end }}

{{- if eq .Values.cloud.setup "true" }}
      - name: cloud
        image: {{ .Values.cloud.image }}
        imagePullPolicy: IfNotPresent
        env:
        - name: CLOUD_PROVIDER
          value: {{ .Values.cloud.auth_cloud_provider | quote }}
        - name: AWS_ACCESS_KEY_ID
          value: {{ .Values.cloud.aws_access_key_id | quote }}
        - name: AWS_SECRET_ACCESS_KEY
          value: {{ .Values.cloud.aws_secret_access_key | quote }}
        - name: AWS_WEB_CONSOLE_URL
          value: {{ .Values.cloud.aws_web_console_url | quote }}
        - name: AWS_WEB_CONSOLE_USER_NAME
          value: {{ .Values.cloud.aws_web_console_user_name | quote }}
        - name: AWS_WEB_CONSOLE_PASSWORD
          value: {{ .Values.cloud.aws_web_console_password | quote }}
        - name: AWS_SANDBOX_ACCOUNT_ID
          value: "{{ .Values.cloud.aws_sandbox_account_id }}"
        - name: AWS_ROUTE53_DOMAIN
          value: {{ .Values.cloud.aws_route53_domain | quote }}
        - name: AWS_DEFAULT_REGION
          value: {{ .Values.cloud.aws_default_region | quote }}
        - name: AZURE_SUBSCRIPTION
          value: {{ .Values.cloud.azure_subscription | quote }}
        - name: AZURE_TENANT
          value: {{ .Values.cloud.azure_tenant | quote }}
        - name: AZURE_CLIENT_ID
          value: {{ .Values.cloud.azure_client_id | quote }}
        - name: AZURE_PASSWORD
          value: {{ .Values.cloud.azure_password | quote }}
        - name: AZURE_RESOURCEGROUP
          value: {{ .Values.cloud.azure_resourcegroup | quote }}
        ports:
        - containerPort: {{ .Values.cloud.port }}
          protocol: TCP
        resources:
          {{- toYaml .Values.cloud.resources | nindent 10 }}
{{- end }}

{{- if eq .Values.ironrdp.setup "true" }}
      - name: ironrdp
        image: {{ .Values.ironrdp.image }}
        imagePullPolicy: IfNotPresent
        env:
        - name: RDPSERVER
          value: {{ .Values.ironrdp.server | quote }}
        - name: RDPUSER
          value: {{ .Values.ironrdp.user | quote }}
        - name: RDPPASSWORD
          value: {{ .Values.ironrdp.password | quote }}
        - name: JETSERVER
          value: {{ printf "https://windows-jetrdp-%s.%s/jet/rdp" .Values.guid .Values.deployer.domain | quote }}
        - name: TOKENGENSERVER
          value: {{ printf "https://windows-tokengen-%s.%s" .Values.guid .Values.deployer.domain | quote }}
        ports:
        - containerPort: 8081
          protocol: TCP
        - containerPort: 7171
          protocol: TCP
        - containerPort: {{ .Values.ironrdp.port }}
          protocol: TCP
        resources:
          {{- toYaml .Values.ironrdp.resources | nindent 10 }}
{{- end }}
      - name: monitoring
        image: {{ .Values.monitoring.image }}
        imagePullPolicy: IfNotPresent
        env:
        - name: BASTION_HOST
          value: {{ .Values.wetty.ssh.sshHost | quote }}
        - name: BASTION_PORT
          value: "{{ .Values.wetty.ssh.sshPort }}"
        - name: BASTION_USER
          value: {{ .Values.wetty.ssh.sshUser | quote }}
        - name: BASTION_PASSWORD
          value: {{ .Values.wetty.ssh.sshPass | quote }}
        - name: OTHER_HOSTS
          value: {{ join " " .Values.wetty.ssh.sshOtherHosts | quote }}
        ports:
        - containerPort: {{ .Values.monitoring.port }}
          protocol: TCP
        resources:
          {{- toYaml .Values.monitoring.resources | nindent 10 }}

      volumes:
      - name: {{ .Release.Name }}-files
        emptyDir: {}
      - name: runner
        emptyDir: {}
      - name: showroom
        emptyDir: {}
      - name: user-data
        configMap:
          name: {{ .Release.Name }}-userdata
      - name: content
        configMap:
          name: {{ .Release.Name }}-index
      - name: nginx-config
        configMap:
          defaultMode: 420
          name: {{ .Release.Name }}-proxy-config
      - name: nginx-pid
        emptyDir: {}
      - name: nginx-cache
        emptyDir: {}
{{- if eq .Values.terminal.setup "true" }}
      - name: terminal-lab-user-home
{{-   if eq .Values.terminal.storage.setup "true" }}
        persistentVolumeClaim:
          claimName: {{ .Release.Name }}-terminal-lab-user-home
{{-   else }}
        emptyDir: {}
{{-   end }}
{{- end }}
