{{- if not .Values.content.url }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: showroom-content
  namespace: {{ .Values.namespace.name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: showroom-content
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: showroom-content
    spec:
      containers:
      - name: showroom-content
        image: {{ .Values.content.image }}
        imagePullPolicy: Always
        env:
          - name: GIT_REPO_URL
            value: {{ .Values.content.repoUrl }}
          - name: GIT_REPO_REF
            value: {{ .Values.content.repoRef }}
          - name: ANTORA_PLAYBOOK
            value: {{ .Values.content.antoraPlaybook }}
        volumeMounts:
          - name: user-data
            mountPath: /user_data/
          - name: showroom
            mountPath: /showroom/
        ports:
        - containerPort: 8000
          protocol: TCP
        livenessProbe:
          httpGet:
            path: /
            port: 8000
        readinessProbe:
          httpGet:
            path: /
            port: 8000
      volumes:
      - name: showroom
        emptyDir: {}
      - name: user-data
        configMap:
          name: {{ .Values.content.userdataName }}
{{- end }}
