---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: showroom
  namespace: openshift-gitops
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    name: ''
    namespace: showroom-2222
    server: https://kubernetes.default.svc
  project: default
  syncPolicy:
    syncOptions:
    - CreateNamespace=true
    automated:
      prune: false
      selfHeal: false
  source:
    repoURL: https://github.com/rhpds/showroom-deployer
    targetRevision: main
    path: charts/showroom
    helm:
      values: |
        namespace:
          create: false
          name: showroom-2222
        deployer:
          domain: apps.shared-410.openshift.redhatworkshops.io
        general:
          guid: 2222
        content:
          repoUrl: https://github.com/rhpds/aro-ilt.git
          user_data: |
            bastion_ssh_password: farts
          zero_touch_bundle: https://github.com/rhpds/nookbag/releases/download/nookbag-v0.0.4/nookbag-v0.0.4.zip
