---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: showroom
  namespace: openshift-gitops
spec:
  generators:
  - list:
      elements:
      - user: user1
      - user: user2
      - user: user3
      - user: user4
      - user: user5
  template:
    metadata:
      name: showroom-{{user}}
      namespace: openshift-gitops
      finalizers:
      - resources-finalizer.argocd.argoproj.io
    spec:
      project: default
      syncPolicy:
        syncOptions:
        - CreateNamespace=true
        automated:
          prune: false
          selfHeal: false
      source:
        repoURL: https://github.com/rhpds/showroom-deployer.git
        targetRevision: main
        path: charts/showroom
        helm:
          values: |
            namespace:
              create: false
              name: showroom-{{user}}
            deployer:
              domain: apps.shared-410.openshift.redhatworkshops.io
            general:
              guid: 2222
            content:
              repoUrl: https://github.com/rhpds/aro-ilt.git
              user_data: |
                bastion_ssh_password: farts
              zero_touch_bundle: https://github.com/rhpds/nookbag/releases/download/nookbag-v0.0.4/nookbag-v0.0.4.zip
      destination:
        namespace: showroom-{{user}}
        server: https://kubernetes.default.svc
