{{- if eq .Values.ocpconsole.setup "true" }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-ocpconsole
  namespace: {{ .Release.Namespace }}
spec:
  type: ClusterIP
  ports:
  - port: 9000
    protocol: TCP
    targetPort: 9000
  selector:
    app.kubernetes.io/name: {{ .Release.Name }}
{{- end }}
