---
# Default values for showroom.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

guid: nnnnn
user: ""

deployer:
  domain: cluster-GUID.GUID.sandboxNUMBERS.opentlc.com

proxy:
  image: quay.io/rhpds/nginx:1.25
  imagePullPolicy: IfNotPresent

content:
  image: quay.io/rhpds/showroom-content:v1.3.1
  imagePullPolicy: IfNotPresent
  repoUrl: https://github.com/rhpds/showroom_template_default.git
  repoRef: main
  antoraPlaybook: default-site.yml
  enableDevMode: "false"
  zero_touch_ui_enabled: "true"
  zero_touch_bundle: "https://github.com/rhpds/nookbag/releases/download/nookbag-v0.2.1/nookbag-v0.2.1.zip"
  user_data: |
    bastion_password: from_helm

terminal:
  setup: "true"
  image: quay.io/rhpds/openshift-showroom-terminal-ocp:latest
  port: 7681
  resources:
    limits:
      cpu: 500m
      memory: 1Gi
    requests:
      cpu: 500m
      memory: 512Mi
  # Set up persistent storage for the lab-user's home directory
  storage:
    setup: "true"
    pvcSize: 5Gi
    # Use default Storage Class when empty
    storageClass: ""

wetty:
  setup: "true"
  image: quay.io/rhpds/wetty:v2.5
  port: 8001
  base: "wetty"
  resources:
    limits:
      memory: 256Mi
    requests:
      cpu: 500m
      memory: 256Mi

git_cloner:
  image: quay.io/rhpds/git-cloner:v1.1.2

antora:
  image: quay.io/rhpds/antora:v1.1.1

# To be fully implemented
# codeserver:
#   setup: "false"
#   image: quay.io/rhpds/code-server:latest
#   resources:
#     limits:
#       memory: 512Mi
#     requests:
#       cpu: 500m
#       memory: 512Mi

novnc:
  setup: "false"
  image: ghcr.io/rhpds/showroom-novnc:latest
  port: 6080
  vncServer: 127.0.0.1:5900
  password: password
  resources:
    limits:
      memory: 256Mi
    requests:
      cpu: 500m
      memory: 256Mi
