{{- if eq .Values.ironrdp.setup "true" }}
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: windows-jetrdp
  namespace: {{ .Release.Namespace }}
  annotations:
    haproxy.router.openshift.io/timeout: 1h
    haproxy.router.openshift.io/timeout-tunnel: 1h
spec:
  host: {{ printf "windows-jetrdp-%s.%s" .Values.guid .Values.deployer.domain | quote }}
  to:
    kind: Service
    name: windows-jetrdp
  port:
    targetPort: 7171
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
  wildcardPolicy: None
{{- end }}
