{{- if eq .Values.ironrdp.setup "true" }}
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: windows-tokengen
  namespace: {{ .Release.Namespace }}
  annotations:
    haproxy.router.openshift.io/timeout: 1h
    haproxy.router.openshift.io/timeout-tunnel: 1h
spec:
  host: windows-tokengen-{{ .Values.guid }}.{{ .Values.deployer.domain }}
  to:
    kind: Service
    name: windows-tokengen
  port:
    targetPort: 8081
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
  wildcardPolicy: None
{{- end }}
