{{- if eq .Values.ironrdp.setup "true" }}
---
apiVersion: v1
kind: Service
metadata:
  name: windows-jetrdp
  namespace: {{ .Release.Namespace }}
spec:
  type: ClusterIP
  ports:
  - port: 7171
    protocol: TCP
    targetPort: 7171
  selector:
    app.kubernetes.io/name: {{ .Release.Name }}
{{- end }}
