---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace}}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .Release.Name }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ .Release.Name }}
    spec:
      serviceAccountName: {{ .Release.Name }}
      initContainers:
      - name: git-cloner
        image: {{ .Values.git_cloner.image | quote }}
        env:
        - name: GIT_REPO_URL
          value: {{ .Values.content.repoUrl | quote }}
        - name: GIT_REPO_REF
          value: {{ .Values.content.repoRef | quote }}
        - name: CLONE_DIR
          value: "/showroom/repo"
        volumeMounts:
        - mountPath: /showroom/repo
          name: {{ .Release.Name }}-files
          subPath: repo
      - name: antora-builder
        image: {{ .Values.antora.image | quote }}
        env:
        - name: FILES_DIR
          value: "/showroom/repo"
        - name: OUTPUT_DIR
          value: "/showroom/www"
        - name: ANTORA_SITE_FILE
          value: {{ .Values.content.antoraPlaybook | quote }}
        - name: ANTORA_ENABLE_DEV_MODE
          value: {{ .Values.content.enableDevMode | quote }}
        volumeMounts:
        - mountPath: /showroom/repo
          name: {{ .Release.Name }}-files
          subPath: repo
        - name: user-data
          mountPath: /user_data/
        - mountPath: /showroom/www
          name: {{ .Release.Name }}-files
          subPath: www
      containers:
      - name: nginx
        image: {{ .Values.proxy.image | quote }}
        imagePullPolicy: {{ .Values.proxy.imagePullPolicy | quote }}
        volumeMounts:
        - mountPath: /etc/nginx/nginx.conf
          name: nginx-config
          subPath: nginx.conf
        - mountPath: /var/cache/nginx
          name: nginx-cache
        - mountPath: /var/run
          name: nginx-pid
        env:
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        ports:
        - name: web
          containerPort: 8080

      - name: content
        image: {{ .Values.content.image | quote }}
        imagePullPolicy: {{ .Values.content.imagePullPolicy | quote }}
        env:
        - name: GIT_REPO_URL
          value: {{ .Values.content.repoUrl | quote  }}
        - name: GIT_REPO_REF
          value: {{ .Values.content.repoRef | quote  }}
        - name: ANTORA_PLAYBOOK
          value: {{ .Values.content.antoraPlaybook | quote  }}
        - name: ZT_BUNDLE
          value: {{ .Values.content.zero_touch_bundle | quote  }}
        - name: ZT_UI_ENABLED
          value: {{ .Values.content.zero_touch_ui_enabled | quote }}
        - name: DOMAIN
          value: {{ .Values.deployer.domain | quote }}
        - name: GUID
          value: {{ .Values.guid | quote }}
        - name: USER
          value: {{ .Values.user | quote }}
        volumeMounts:
        - name: user-data
          mountPath: /user_data/
        - mountPath: /showroom/repo
          name: {{ .Release.Name }}-files
          subPath: repo
        - mountPath: /showroom/www
          name: {{ .Release.Name }}-files
          subPath: www
        ports:
        - containerPort: 8000
          protocol: TCP
        livenessProbe:
          httpGet:
            path: /
            port: 8000
        readinessProbe:
          httpGet:
            path: /
            port: 8000

{{- if eq .Values.terminal.setup "true" }}
      - name: terminal
        image: {{ .Values.terminal.image | quote }}
        imagePullPolicy: IfNotPresent
        env:
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: GUID
          value: {{ .Values.guid | quote }}
        volumeMounts:
        - name: terminal-lab-user-home
          mountPath: /home/lab-user
        - name: terminal-data-ssh # to enable ssh out of the container
          mountPath: /data/.ssh
        ports:
        - containerPort: {{ .Values.terminal.port }}
          protocol: TCP
        resources:
          {{- toYaml .Values.terminal.resources | nindent 10 }}
{{- end }}

{{- if eq .Values.wetty.setup "true" }}
      - name: wetty
        image: {{ .Values.wetty.image | quote }}
        imagePullPolicy: IfNotPresent
        args:
        - --base="/{{ .Values.wetty.base }}/"
        - --port={{ .Values.wetty.port }}
{{-   if eq .Values.wetty.ssh.autoSshToBastion "true" }}
        - --ssh-host={{ .Values.wetty.ssh.sshHost }}
        - --ssh-port={{ .Values.wetty.ssh.sshPort }}
        - --ssh-user={{ .Values.wetty.ssh.sshUser }}
        - --ssh-auth={{ .Values.wetty.ssh.sshAuth }}
        - --ssh-pass={{ .Values.wetty.ssh.sshPass }}
{{-   end }}
        env:
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: GUID
          value: {{ .Values.guid | quote }}
        ports:
        - containerPort: {{ .Values.wetty.port }}
          protocol: TCP
        resources:
          {{- toYaml .Values.wetty.resources | nindent 10 }}
{{- end }}

{{- if eq .Values.novnc.setup "true" }}
      - name: novnc
        image: {{ .Values.novnc.image | quote }}
        imagePullPolicy: IfNotPresent
        args:
        - websockify
        - --web=/www
        - 127.0.0.1:{{ .Values.novnc.port }}
        - "{{ .Values.novnc.vncServer }}"
        ports:
        - containerPort: {{ .Values.novnc.port }}
          protocol: TCP
        resources:
          {{- toYaml .Values.novnc.resources | nindent 10 }}
{{- end }}

      volumes:
      - name: {{ .Release.Name }}-files
        emptyDir: {}
      - name: showroom
        emptyDir: {}
      - name: user-data
        configMap:
          name: {{ .Release.Name }}-userdata
      - name: nginx-config
        configMap:
          defaultMode: 420
          name: {{ .Release.Name }}-proxy-config
      - name: nginx-pid
        emptyDir: {}
      - name: nginx-cache
        emptyDir: {}
{{- if eq .Values.terminal.setup "true" }}
      - name: terminal-data-ssh # to enable ssh out of the container
        emptyDir: {}
      - name: terminal-lab-user-home
{{-   if eq .Values.terminal.storage.setup "true" }}
        persistentVolumeClaim:
          claimName: {{ .Release.Name }}-terminal-lab-user-home
{{-   else }}
        emptyDir: {}
{{-   end }}
{{- end }}
