---
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-proxy-config
  namespace: {{ .Release.Namespace}}
apiVersion: v1
data:
  nginx.conf: |
    #daemon off;
    events {
    }
    error_log /dev/stdout info;
    http {
      include /etc/nginx/mime.types;
      proxy_cache off;
      expires -1;
      proxy_cache_path /dev/null keys_zone=mycache:10m;

      map $http_upgrade $connection_upgrade {
          default upgrade;
          '' close;
      }

      server {
        listen 8080;

        absolute_redirect off;

        location / {
          index index.html;
          root /data/www;
        }

        location /content/ {
          proxy_pass http://localhost:8000;
          rewrite ^/content/(.*)$ /$1 break;

          expires off;
          proxy_cache off;
          proxy_pass_request_headers on;
          proxy_set_header Accept-Encoding "gzip";
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto $scheme;
        }

{{-   if eq .Values.terminal.setup "true" }}
        location /terminal/ {
          proxy_pass http://localhost:{{ .Values.terminal.port }};
          rewrite ^/terminal/(.*)$ /$1 break;

          proxy_http_version 1.1;
          proxy_set_header Upgrade $http_upgrade;
          proxy_set_header Connection "upgrade";
          proxy_read_timeout 43200000;

          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header Host $http_host;
          proxy_set_header X-NginX-Proxy true;
        }
{{- end }}

{{-   if eq .Values.wetty.setup "true" }}
        location ^~ /tty1 {
          proxy_pass http://localhost:{{ .Values.wetty.port }}/{{ .Values.wetty.base }};
          proxy_http_version 1.1;
          proxy_set_header Upgrade $http_upgrade;
          proxy_set_header Connection "upgrade";
          proxy_read_timeout 43200000;

          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header Host $http_host;
          proxy_set_header X-NginX-Proxy true;
        }
{{- end }}

{{-   if eq .Values.ocpconsole.setup "true" }}
        location /ocp/ {
          # JM: not working, don't know why
          # keeps looking for assets on / of the nginx

          proxy_pass https://console.openshift-console:443;
          rewrite ^/ocp/(.*)$ /$1 break;

          expires off;
          proxy_cache off;
          proxy_pass_request_headers on;
          proxy_set_header Accept-Encoding "gzip";
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto $scheme;
        }
{{- end }}

{{-   if eq .Values.novnc.setup "true" }}
        location ^~ /novnc {
          proxy_pass http://127.0.0.1:{{ .Values.novnc.port }};

          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header Host $host;
          proxy_set_header X-NginX-Proxy true;
        }

        location ^~ /websockify {
          proxy_pass http://127.0.0.1:{{ .Values.novnc.port }}/websockify;
          proxy_http_version 1.1;
          proxy_set_header Upgrade $http_upgrade;
          proxy_set_header Connection "upgrade";
          proxy_read_timeout 43200000;

          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header Host $host;
          proxy_set_header X-NginX-Proxy true;
        }
{{- end }}
      }
    }
